.form-control {
    margin-bottom: 15px;
}


header {
    background-color: #f8f9fa;
}


.footer {
    background-color: #f8f9fa;
}


.social-icon {
    font-size: 24px;
    margin: 0 5px;
}


.span {
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
}